
.button-grid {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

button {
  margin: 10px;
}


.transaction-buttons-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat( auto-fit, minmax(155px, 1fr) );
}
