<mat-card>
  <mat-card-subtitle>Pointless Credit Card Processing Solution</mat-card-subtitle>
  <mat-card-content>
    <div class="grid-buttons">
      <div><button mat-raised-button (click)="dsiEMVAndroid()">DSI Emv Android</button>  </div>
      <div><button mat-raised-button (click)="cardPointe()">Card Point Settings</button> </div>
      <div><button mat-raised-button (click)="cardPointeTransactions()">Card Point Transaction</button> </div>
    </div>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
