<mat-card>
  <mat-card-subtitle>Pointless Credit Card Processing Solution</mat-card-subtitle>
  <mat-card-content>
    <div class="grid-buttons">
      <div><button mat-raised-button (click)="dsiEMVAndroid()">DSI EMV Android</button>  </div>
      <div><button mat-raised-button (click)="cardPointe()">Card Point Settings</button> </div>
      <div><button mat-raised-button (click)="cardPointeTransactions()">Card Point $</button> </div>
      <div><button mat-raised-button (click)="cardPointeAndroid()">Card Point Android</button> </div>
      <div><button mat-raised-button (click)="settings()"><mat-icon>settings</mat-icon></button> </div>
    </div>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
